<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Sodas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-avatar (click)="selectImageSource()" class="profile-pic">
    <ion-img src="https://static-cdn.jtvnw.net/jtv_user_pictures/fe32f39c-6334-4e05-813e-56d65756bf89-profile_image-300x300.png"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>SkyHighGaming</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Gamer
    </ion-card-content>
  </ion-card>
</ion-content>
